.contacto {
 --glow-color: rgb(35, 97, 33);
 --btn-color: linear-gradient(90deg,rgba(33, 33, 33, 1) 0%, rgba(17, 41, 18, 1) 50%, rgba(33, 33, 33, 1) 100%);
 border: 1px solid var(--glow-color);
 padding: 1em 1em;
 color:white;
 font-size: 1.2rem;
 font-weight: 400;
 background-color: var(--btn-color);
 border-radius:100px;
 outline: none;
 box-shadow: 0 0 0.1em .2em var(--glow-color),
        0 0 0.1em 0.5em var(--glow-spread-color),
        inset 0 0 .1em .1em var(--glow-color);
 text-shadow: 0 0 .1em var(--glow-color);
 position: relative;
 transition: all 0.3s;
 text-decoration: none;
}

.contacto::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: 1;
 
}

.contacto:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 0.1em .2em var(--glow-color),
        inset 0 0 .1em .2em var(--glow-color);
}

.contacto:active {
 box-shadow: 0 0 0.1em .2em var(--glow-color),
        inset 0 0 .1em .2em var(--glow-color);
}

.top{
  margin-top: 200px;
}